<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Booking &mdash; hairdoo</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/fonts/montserrat/montserrat-font.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap-social/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/modules/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/modules/css/daterangepicker.css' %}">
  
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'core/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/common.css' %}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">
              <div class="search-header">
                Search
              </div>
              <div class="search-item">
                <a href="#">Lorem, ipsum dolor.</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
              <div class="search-item">
                <a href="#">Lorem, ipsum dolor.</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
              <div class="search-item">
                <a href="#">Lorem, ipsum dolor.</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
             
            </div>
          </div>
        </form>
        
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="{% static 'core/assets/img/avatar/avatar-5.png' %}" class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block">Hi, {{request.user.first_name}} {{request.user.last_name}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="{% url 'core:user-update' pk=request.user.pk %}" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profile
              </a>
              <a href="{% url 'core:user-password' pk=request.user.pk %}" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Change Password
              </a>
              {% if request.user.is_authenticated %}
              <a href="{% url 'auth:auth_logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              {% endif %}
            </div>
          </li>
        </ul>
        
      </nav>

      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'core:homepage' %}" class="logo-link"> <img src="{% static 'core/assets/img/images/logo.svg' %}" alt="logo" class="img-fluid img-logo" /> </a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'core:homepage' %}">H</a>
          </div>
          <ul class="sidebar-menu">
            <li><a class="nav-link" href="{% url 'core:homepage' %}"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li><a class="nav-link" href="{% url 'core:registred-users' %}"><i class="fas fa-user"></i> <span>User</span></a></li>
            <li class="active"><a class="nav-link" href="{% url 'core:bookings' %}"><i class="fas fa-book"></i> <span>Booking</span></a></li>
          </ul>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">

          <div class="section-header">
            <div class="section-header-back">
              <a href="{% url 'core:bookings' %}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Edit booking </h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="{% url 'core:bookings' %}">Booking</a></div>
              <div class="breadcrumb-item">Edit booking</div>
            </div>
          </div>

          <div class="section-body">
            
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                <form method="POST" action="" enctype="multipart/form-data" id="user-from" name="form1">
                  {% csrf_token %}  
                  <div class="card-body">
                        <div class="row">
                             
                          <div class="form-group custom-active-inactive-group col-md-12 col-12">
                            <div class="selectgroup w-100">
                              <label class="selectgroup-item">
                                <input type="radio" name="transportation" value="2" class="selectgroup-input">
                                <span class="selectgroup-button selectgroup-button-text">Active</span>
                              </label>
                              <label class="selectgroup-item">
                                <input type="radio" name="transportation" value="1" class="selectgroup-input" checked="">
                                <span class="selectgroup-button selectgroup-button-text">Inactive</span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group col-md-12 col-12">
                            <label>Hairdoo Standard</label>
                            <input type="text" class="form-control" name="hr_standerd">
                          </div>
                          <div class="form-group col-md-12 col-12">
                            <label>Address</label>
                            <input type="text" class="form-control" name="address" value="{{db_address}}">
                          </div>
                          <div class="form-group col-md-12 col-12">
                            <label>Zip code</label>
                            <input type="text" class="form-control" name="zip" id="myzip" value="{{db_zip}}">
                            <span id="zip_error" style="color: red;"></span>
                          </div>
                          <div class="form-group col-md-12 col-12">
                            <label>State</label>
                            <div class="select2-group-div">
                              <select class="form-control select2" name="state" value="{{db_state}}">
                                <option>California</option>
                                <option>New Jersey</option>
                                <option>New york</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group col-md-12 col-12">
                            <label>Schedule</label>
                            <input type="text" class="form-control datetimepicker" id="date_box" name="schedule_date" value="{{db_schedule_date}}">
                          </div>
                          
                          </div>
                          </div>    
                      </div>
                   </div>

                        <div class="col-12 col-md-12 col-lg-6">
                          <div class="card">
                          
                        <div class="card-body">
                            <div class="row">
                            
                              <div class="col-md-12 col-12">
                                <div class="heading-text-div">
                                  <h2>Services</h2>
                                </div>
                              </div>
                                 
                              <div class="form-group col-md-12 col-12">
                                <label>Men’s Haircut</label>
                              
                                <div class="row mlr-6">
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="number" min="0" class="form-control" placeholder="Enter total member" name="q_men">
                                  </div>
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="text" class="form-control" placeholder="" value="$90.00" name="p_men" readonly>
                                  </div>
                                </div>
                              </div>
                            
                              <div class="form-group col-md-12 col-12">
                                <label>Beard Trim</label>
                              
                                <div class="row mlr-6">
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="number" min="0" class="form-control" placeholder="Enter total member" name="q_beard">
                                  </div>
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="text" class="form-control" placeholder="" value="$6.00" name="p_beard" readonly>
                                  </div>
                                </div>
                              </div>
                            
                              <div class="form-group col-md-12 col-12">
                                <label>Women’s Haircut</label>
                              
                                <div class="row mlr-6">
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="number" min="0" class="form-control" placeholder="Enter total member" name="q_women">
                                  </div>
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="text" class="form-control" placeholder="" value="$70.00" name="p_women" readonly>
                                  </div>
                                </div>
                              </div>
                            
                              <div class="form-group col-md-12 col-12">
                                <label>Blowout</label>
                              
                                <div class="row mlr-6">
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="number" min="0"  class="form-control" placeholder="Enter total member" name="q_blow">
                                  </div>
                                  <div class="col-md-6 col-12 plr-6">
                                    <input type="text" class="form-control" placeholder="" value="$50.00" name="p_blow" readonly>
                                  </div>
                                </div>
                              </div>
                            
                              <div class="form-group col-md-12 col-12">
                                <label>Description</label>
                                <textarea cols="30" rows="3" class="form-control"></textarea>
                              </div>
                            </div>
                        </div>
                </div>
              </div>
              
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card-footer background-color-footer">
                  <div class="right-side-area">
                    <button class="btn btn-primary" type="submit" id="save-btn">Save Changes</button>
                    <button class="btn btn-secondary" type="button">Reset</button>
                  </div>
                </div>
              </div>
              </form>

            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2020 <a href="{% url 'core:homepage' %}">hairdoo</a>
        </div>
      </footer>
    </div>
  </div>
  <script>
    $(function () {
        $('#date_box').datetimepicker({
          format: 'YYYY-MM-DD HH:MM'
        });
      });
  </script>
  <!-- General JS Scripts -->
  <script src="{% static 'core/assets/modules/js/jquery.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/popper.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/tooltip.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/moment.min.js' %}"></script>
  <script src="{% static 'core/assets/js/hairdoo.js' %}"></script>
  
  <!-- JS Libraies -->
  <script src="{% static 'core/assets/modules/js/select2.full.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/daterangepicker.js' %}"></script>

  <!-- Template JS File -->
  <script src="{% static 'core/assets/js/scripts.js' %}"></script>
  <script src="{% static 'core/assets/js/custom.js' %}"></script>
  <script>
    
    $('#myzip').blur(function () {
        var zip = $('#myzip').val();
        if (isNaN(zip)) {
          $('#zip_error').text("Please enter a vaid zip code!");
        }
        else{
          $('#zip_error').text("");

        }
      });
    //var url = window.location.pathname;
    //id = url.split('/')[3]
    //url = "{% url 'core:edit-booking' 123%}"
    //$('#user-from').attr('action', url+'/'+id);
    //document.location.href = url.replace('123', id);
  </script>
</body>
</html>
