<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>User &mdash; hairdoo</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/fonts/montserrat/montserrat-font.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap-social/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/modules/css/select2.min.css' %}">
  
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'core/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/common.css' %}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <div class="search-backdrop"></div>
            <div class="search-result">
              <div class="search-header">
                Search
              </div>
              <div class="search-item">
                <a href="#">Lorem, ipsum dolor.</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
              <div class="search-item">
                <a href="#">Lorem, ipsum dolor.</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
              <div class="search-item">
                <a href="#">Lorem, ipsum dolor.</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
             
            </div>
          </div>
        </form>
        
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="{% static 'core/assets/img/avatar/avatar-5.png' %}" class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block">Hi, {{request.user.first_name}} {{request.user.last_name}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="{% url 'core:user-update' pk=request.user.pk %}" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profile
              </a>
              <a href="{% url 'core:user-password' pk=request.user.pk %}" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Change Password
              </a>
              {% if request.user.is_authenticated %}
              <a href="{% url 'auth:auth_logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              {% endif %}
            </div>
          </li>
        </ul>
        </nav>
        
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'core:homepage' %}" class="logo-link"> <img src="{% static 'core/assets/img/images/logo.svg' %}" alt="logo" class="img-fluid img-logo" /> </a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'core:homepage' %}">H</a>
          </div>
          <ul class="sidebar-menu">
            <li><a class="nav-link" href="{% url 'core:homepage' %}"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li class="active"><a class="nav-link" href="{% url 'core:registred-users' %}"><i class="fas fa-user"></i> <span>User</span></a></li>
            <li><a class="nav-link" href="{% url 'core:bookings' %}"><i class="fas fa-book"></i> <span>Booking</span></a></li>
          </ul>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">

          <div class="section-header">
            <div class="section-header-back">
              <a href="{% url 'core:registred-users' %}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>View user </h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="{% url 'core:registred-users' %}">User</a></div>
              <div class="breadcrumb-item">View user</div>
            </div>
          </div>

          <div class="section-body">
            
            <div class="row">
              <div class="col-md-12">
                <div class="card user-view-card-common">
                  <div class="card-header">
                    <h4>View User</h4>
                  </div>
                  <div class="card-body">
                    <div class="tickets">
                      <div class="ticket-content">
                        <div class="ticket-header">
                          <div class="ticket-sender-picture img-shadow">
                            <img src="{% static 'core/assets/img/avatar/avatar-5.png' %}" class="square-circle" alt="image">
                          </div>
                          <div class="ticket-detail">
                            <div class="ticket-title">
                              <h4>{{object_list.book_by.first_name}} {{object_list.book_by.last_name}}</h4>
                            </div>
                            <div class="ticket-info">
                              <div class="font-weight-600 text-address"> <span class="text-block">Address :</span> {{object_list.full_address}}</div>
                              <div class="bullet"></div>
                              <div class="text-primary font-weight-600 text-zip-code">Zip code : {{object_list.zip_code}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="ticket-description">
                          <p>{{object_list.note}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>

      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2020 <a href="{% url 'core:homepage' %}">hairdoo</a>
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'core/assets/modules/js/jquery.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/popper.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/tooltip.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/moment.min.js' %}"></script>
  <script src="{% static 'core/assets/js/hairdoo.js' %}"></script>
  
  <!-- JS Libraies -->
  <script src="{% static 'core/assets/modules/js/select2.full.min.js' %}"></script>

  <!-- Template JS File -->
  <script src="{% static 'core/assets/js/scripts.js' %}"></script>
  <script src="{% static 'core/assets/js/custom.js' %}"></script>

</body>
</html>
