<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load widget_tweaks %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Login &mdash; hairdoo</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/fonts/montserrat/montserrat-font.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap-social/bootstrap-social.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'core/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'core/assets/css/common.css' %}">
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="{% static 'core/assets/img/images/hairdoo-logo.svg' %}" alt="logo" width="100" class="img-logo-fill">
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Login</h4></div>

              <div class="card-body">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  {{ error }}
                  {% endfor %}
                  {% endfor %}
                </div>
                {% endif %}
                
                <form class="m-t" role="form" action="{% url 'auth:auth_login' %}?next={{ next }}" accept-charset="UTF-8" method="post" autocomplete="off">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.username|attr:"required"|attr:"autofocus"|attr:"placeholder:"|attr:"class:form-control" }}
                    <div class="invalid-feedback">
                      Please fill in your email
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Password</label>
                    {{form.password|attr:"required"|attr:"placeholder:"|attr:"class:form-control" }}
                    </div>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>
                  <!--<div class="form-group text-left">
                                        <div class="i-checks"><input type="checkbox"><i></i> Remember me</div>
                                    </div>-->
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                    <label class="custom-control-label" for="remember-me">Remember Me</label>
                  </div>
                  </div>
                  
                  <input type="hidden" name="next" value="{{ next }}" />
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                  </div>
                </form> 
              </div>
              <div class="simple-footer">
                Copyright &copy; hairdoo 2020
              </div>
            </div>  
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  
  <script src="{% static 'core/assets/modules/js/jquery.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/popper.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/tooltip.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'core/assets/modules/js/moment.min.js' %}"></script>
  <script src="{% static 'core/assets/js/hairdoo.js' %}"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="{% static 'core/assets/js/scripts.js' %}"></script>
  <script src="{% static 'core/assets/js/custom.js' %}"></script>

  <!-- Page Specific JS File -->
</body>
</html>
